{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-wdith, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'congress/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'congress/css/main.css' %}"/>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-policytoday">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-brand-policytoday" href="/">Policy Today</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class=""><a href="#">About<span class="sr-only">(current)</span></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">New Federal Bills</a></li>
                <li><a href="#">New State Bills</a></li>
                <li><a href="#">Interactive Map</a></li>
                <!--
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
                -->
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


    <div class="container">
      </br></br>
      {% block content %}{% endblock %}
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="{% static 'congress/js/datamaps.usa.min.js' %}"></script>
    <script src="{% static 'congress/js/jquery-3.1.0.min.js' %}"></script>
    <script src="{% static 'congress/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'congress/js/main.js' %}"></script>
    <script src="{% static 'congress/js/map.js' %}"></script>
  </body>
</html>
