{% extends 'congress/base.html' %}
{% block content %}

<div id="homepage">
  <div class="row">
    <div class="col-xs-12">
      <h1>Find out who your representatives are, and how they voted.</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Simply,</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Click<button onclick="grab_location()">here</button></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Or</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>Type your zipcode here</h2>
    </div>
  </div>
</div>

{% endblock %}
