body {
	background-color: #f2f2f2;
}
.democrat {
	background-color: #179ee0;
}

.republican {
	background-color: #ff5d40;
}

.independant {
	background-color: #f8ca40;
}

.success {
	background-color: #d0f7d3;
}

.failure {
	background-color: #f7d3d0;
}

.not-voting {
	background-color: #cccccc;
}

.navbar-policytoday {
	background-color: #FFF;
	border-color: #5FB0E4;
	border-radius: 0;
	margin-bottom: 0;
	z-index: 100;
}

.navbar-brand--policytoday {
	color: #5FB0E4;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
